<h1>todos eventos</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %>
    </li>
  <% end %>
</ul>

<%= link_to "cadastrar evento", new_event_path %>
