<h1>todos eventos</h1>

<ul>
  <li>

    <table>
      <tr>
        <th>Categoria</th>
        <th>Red Corner</th>
        <th>   </th>
        <th>Blue Corner</th>
      </tr>
    </table>
    <%= render :partial => "event", :collection => @events %>
  </li>
</ul>
<% if can? :update, @events %>
  <%= link_to "cadastrar evento", new_event_path %>
<% end %>
