<h1>Proximas lutas</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th>Red Corner</th>
    <th>   </th>
    <th>Blue Corner</th>
  </tr>
  <% @fights.each do |fight| %>
  <tr>
    <td><%= fight.category  %> </td>
    <td><%= fight.contender %> </td>
    <td> VS </td>
    <td><%= fight.challenger%> </td>
  </tr>
  <% end %>
</table>

